<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2018 News Scraper App
      <a class="github" href="https://github.com/jivinjules/News-Scraper">
        <img src="/assets/img/github.png">
      </a>
    </div>
  </div>
</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>

</body>

</html>